<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fashi Template">
    <meta name="keywords" content="Fashi, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpringCommerce</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i>
                        vuxuancanh2004@gmail.com
                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i>
                        +84 389 880 147
                    </div>
                </div>
                <div class="ht-right">
                    <a href="#" class="login-panel"><i class="fa fa-user"></i>Login</a>
                    <div class="lan-selector">
                        <select class="language_drop" name="countries" id="countries" style="width:300px;">
                            <option value='yt' th:data-image="@{/img/flag-1.jpg}" data-imagecss="flag yt"
                                data-title="English">English</option>
                            <option value='yu' th:data-image="@{img/flag-2.jpg}" data-imagecss="flag yu"
                                data-title="Bangladesh">German </option>
                        </select>
                    </div>
                    <div class="top-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-twitter-alt"></i></a>
                        <a href="#"><i class="ti-linkedin"></i></a>
                        <a href="#"><i class="ti-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="/">
                                <img src="img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" class="category-btn">All Categories</button>
                            <form th:action="@{/products/show}" class="input-group">
                                <input type="text" name="keyword" placeholder="What do you need?">
                                <button type="button" value="search"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li class="cart-icon"><a href="/cart">
                                    <i class="icon_bag_alt"></i>
                                </a>
                                <div class="cart-hover">
                                    <div class="select-button">
                                        <a href="/cart" class="primary-btn view-card">VIEW CARD</a>
                                        <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/products/show">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="/cart">Shopping Cart</a></li>
                                <li><a href="/order">Checkout</a></li>
                                <li><a href="/order/history">History</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span><a href="/products/show">Shop</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <form th:action="@{/products/filter}" method="get">
                        <div class="filter-widget">
                            <h4 class="fw-title">Categories</h4>
                            <div class="fw-brand-check">
                                <div class="bc-item" th:each="category : ${category}">
                                    <label th:for="'category-' + ${category.id}">
                                        <span th:text="${category.name}"></span>
                                        <input type="radio" th:id="'category-' + ${category.id}" th:name="category" th:value="${category.id}">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-widget">
                            <h4 class="fw-title">Brand</h4>
                            <div class="fw-brand-check">
                                <div class="bc-item" th:each="brand : ${brand}">
                                    <label th:for="'brand-' + ${brand.id}">
                                        <span th:text="${brand.name}"></span>
                                        <input type="radio" th:id="'brand-' + ${brand.id}" th:name="brand" th:value="${brand.id}">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="filter-widget">
                            <h4 class="fw-title">Price</h4>
                            <div class="filter-range-wrap">
                                <div class="range-slider">
                                    <div class="price-input">
                                        <input type="number" id="minamount" name="minPrice" value=0 placeholder="Min">
                                        <input type="number" id="maxamount" name="maxPrice" value="199" placeholder="Max">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="filter-btn">Filter</button>
                        </div>
                        <div class="filter-widget">
                            <h4 class="fw-title">Color</h4>
                            <div class="fw-color-choose">
                                <div class="cs-item">
                                    <input type="radio" id="cs-black" name="color" value="Black">
                                    <label class="cs-black" for="cs-black">Black</label>
                                </div>
                                <div class="cs-item">
                                    <input type="radio" id="cs-white" name="color" value="White">
                                    <label class="cs-white" for="cs-white">White</label>
                                </div>
                                <div class="cs-item">
                                    <input type="radio" id="cs-blue" name="color" value="Blue">
                                    <label class="cs-blue" for="cs-blue">Blue</label>
                                </div>
                                <div class="cs-item">
                                    <input type="radio" id="cs-yellow" name="color" value="Yellow">
                                    <label class="cs-yellow" for="cs-yellow">Yellow</label>
                                </div>
                                <div class="cs-item">
                                    <input type="radio" id="cs-red" name="color" value="Red">
                                    <label class="cs-red" for="cs-red">Red</label>
                                </div>
                                <div class="cs-item">
                                    <input type="radio" id="cs-green" name="color" value="Green">
                                    <label class="cs-green" for="cs-green">Green</label>
                                </div>
                                <div class="cs-item">
                                    <input type="radio" id="cs-brown" name="color" value="Brown">
                                    <label class="cs-brown" for="cs-brown">Brown</label>
                                </div>
                                <div class="cs-item">
                                    <input type="radio" id="cs-gray" name="color" value="Gray">
                                    <label class="cs-gray" for="cs-gray">Gray</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-list">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6" th:each="product : ${products}">
                                <div class="product-item" >
                                    <div class="pi-pic">
                                        <img style="width: 100%; height: 250px; object-fit: cover" th:src="@{${product.imageUrl}}"alt="">
                                        <ul>
                                            <li class="w-icon active">
                                                <form action="/cart/add" method="POST">
                                                    <input type="hidden" name="productId" th:value="${product.id}">
                                                    <input type="hidden" name="quantity" value="1">
                                                    <button type="submit" style="background: #e7ab3c; color: white; font-size: 16px; font-weight: 700; display: block; padding: 14px 16px 10px 19px" >
                                                        <i class="icon_bag_alt"></i>
                                                    </button>
                                                </form>
                                            </li>
                                            <li class="quick-view"><a th:href="@{/products/detail(id=${product.id})}">+ Quick View</a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name" th:tetx="${product.category.name}"></div>
                                        <a href="#">
                                            <h5 th:text="${product.name}"></h5>
                                        </a>
                                        <div class="product-price">
                                            <p style="font-size:18px; color: #dfdf03 " th:text="${product.price}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Phân trang -->
                    <div style="display: flex; justify-content: center; margin-top: 20px">
                        <ul style="list-style-type: none; display: flex; gap: 10px; padding: 0; margin: 0">
                            <!-- Nút Previous -->
                            <li th:if="${currentPage > 0}">
                                <a th:href="@{/products/show(page=${currentPage - 1}, size=${size})}" style="padding: 8px 14px; border: 1px solid #ddd; color: #333; text-decoration: none; border-radius: 5px; transition: background-color 0.3s, color 0.3s">Previous</a>
                            </li>

                            <!-- Các số trang -->
                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                                <a th:href="@{/products/show(page=${i}, size=${size})}"
                                   th:classappend="${i == currentPage} ? 'active' : ''"
                                   th:text="${i + 1}" style="padding: 8px 14px; border: 1px solid #ddd; color: #333; text-decoration: none; border-radius: 5px; transition: background-color 0.3s, color 0.3s"></a>
                            </li>

                            <!-- Nút Next -->
                            <li th:if="${currentPage < totalPages - 1}">
                                <a th:href="@{/products/show(page=${currentPage + 1}, size=${size})}" style="padding: 8px 14px; border: 1px solid #ddd; color: #333; text-decoration: none; border-radius: 5px; transition: background-color 0.3s, color 0.3s">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->
    <!-- Footer Section Begin -->
    <div th:replace="fragments::footer"></div>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/jquery.zoom.min.js}"></script>
    <script th:src="@{/js/jquery.dd.min.js}"></script>
    <script th:src="@{/js/jquery.slicknav.js}"></script>
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</body>

</html>